.idea
*.ipynb_checkpoints
#*.ipynb
*pycache*
inference_NOTE_DETAIL_01012024_070343.csv.utf8.csv.tsv
inference.tsv
NOTE*
*test*
old
daily
to_run
chirpp/models
build
chirpp.egg-info
.env
