# please only use the packages that you are actively importing
pandas~=2.1.0 # this is to avoid the cursor thing, I am stil not sure how to fix it
Levenshtein
numpy
sqlalchemy==1.4.54
python-dotenv
psycopg2
chonkie
model2vec
openai
pgvector
transformers
spacy
medspacy
spacy-transformers
requests
certifi
jsonschema
einops
cognee
openpyxl